body{
    background-color: black;
    text-align: center;
    color: aquamarine;
    width: fit-content;
    margin: auto;
}
.github_projects{
    display:flex;
}
.github_projects div {
    background-color: coral;
    border-radius: 0.2px;
    flex: 1;
}
h1{
    background-color: rgb(87, 14, 14);
    font-size: larger;
}
.loaded_project{
    font-size: medium;
}
/*
*{
    border: 2px dashed gray;
    border-radius: 10px;
}
*/
.Git_links{
    padding: 0 10px 0 10px;
    margin: 5px;
    width: max-content;
    list-style: none;
}
a{
    margin: 5px;
}