html {
    background-color: black;
   }
   
*{
    background-color:inherit;
    text-align: center;
    color: aquamarine;
    /*border: 2px dashed gray;
    border-radius: 10px;*/
}
.Global{
    background-color: rgb(61, 61, 61);
    align-content: stretch;
    }
    .Page{
        display: flex;
    }
    .Sidebar{
        display: flex;
        justify-content: flex-start;
        margin: 5pt;
        width: fit-content;
        height: fit-content;
        ;
        }
        .Info_sidebar{
            height: fit-content;
            padding: 10px;
            border-radius: 10px;
        }
        .Content_sidebar{
            padding: 10px;
            border-radius: 10px;  
        }
        .github_projects{
        display: flex;
            }
        .github_projects div {
        background-color: coral;
       border: 2px blue;
        flex: 1;
            }
            .Git_links{
                padding: 0 10px 0 10px;
                margin: 5px;
                width: max-content;
                list-style: none;
                }
    .Header{
        margin: auto;
        flex: auto;
        }        
h1{
    background-color: rgb(87, 14, 14);
    font-size: larger;
    }
h2{
    background-color: inherit;
    }
h3{
    background-color: inherit;
    }
.loaded_project{
    font-size: medium;
    }

a{
    background-color: inherit;
    margin: 5px;
    }